---
layout: home
---
<header class="page-header text-center has-gutter">
  <h1 class="name text-indent text-upper is-bold">Logan Dwight</h1>
  <p class="location font-size-small">San Francisco, CA - Brooklyn, NY</p>
  <div class="headshot"></div>
  <p class="bio font-size-small">I’m a designer, writer, creative director, and VR consultant with a passion for the media arts. I use technology to create immersive experiences. I not-so-secretly think that being plugged in to <i>The Matrix</i> would be the coolest thing ever.</p>
  <a class="contact-button text-upper font-size-small is-bold" href="mailto:{{ site.email }}?subject={{ site.email_subject }}">Contact Me</a>
</header>

<article class="page-body">
  <section class="page-section">
    <h2 class="section-title text-upper text-indent text-center is-bold">Work</h2>
    <div class="projects-list-container">
      <ul class="projects-list list-reset text-center">
        {% for project in site.data.projects %}
          <li class="projects-list-item">
            <a class="projects-list-link" href="/{{ project.url }}">
              <div class="projects-list-background" style="background-image:url('/images/{{ project.tile_image }}')"></div>
              <div class="projects-list-overlay-container">
                <div class="projects-list-overlay text-center">
                  <h3 class="projects-list-title text-indent text-upper is-bold {% if project.title2 and project.title2 != "" %}no-indent{% endif %}">{{ project.title }}</h3>
                  {% if project.title2 and project.title2 != "" %}
                    <h3 class="projects-list-title text-indent text-upper is-bold">{{ project.title2 }}</h3>
                  {% endif %}
                  <p class="projects-list-body font-size-small">{{ project.tile_description }}</p>
                  <p class="font-size-small is-bold">Learn More</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</article>
