<header class="page-header text-center has-gutter clearfix is-project">
  <h1 class="name text-indent text-upper is-bold float-l"><a href="/">Logan Dwight</a></h1>
  <a class="contact-button text-upper font-size-small is-bold float-r" href="mailto:{{ site.email }}?subject={{ site.email_subject }}">Contact Me</a>
</header>

<article class="page-body">
  <section class="page-section has-gutter">
    <div class="project-hero" style="background-image:url('/images/{{ project.hero_image }}')"></div>
    <p class="project-description font-size-small">{{ project.description }}</p>
    <p class="project-responsibilities font-size-small"><span class="is-bold">Responsibilities:</span><br />{{ project.responsibilities }}</p>
    {% if project.link_text and project.link_text != "" and project.link_url and project.link_url != "" %}
      <p class="project-link font-size-small is-bold"><a href="{{ project.link_url }}" target="_blank">{{ project.link_text }}</a></p>
    {% endif %}
    {% if project.youtube_id and project.youtube_id != "" %}
      <div class="video-container">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/{{ project.youtube_id }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    {% endif %}
    {% if project.vimeo_id and project.vimeo_id != "" %}
      <div class="video-container">
        <iframe src="https://player.vimeo.com/video/{{ project.vimeo_id }}?title=0&amp;byline=0&amp;portrait=0" width="853" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    {% endif %}
  </section>
  <section class="page-section project-images-section {{ project.image_section_class }}">
    <ul class="project-images-list list-reset">
      {% if project.gifs %}
        {% for gif in project.gifs %}
          <li class="project-images-item {{ project.gif_class }}">
            <a href="/images/{{ gif.path }}"><img src="/images/loading/{{ gif.loading_image }}" data-src="/images/{{ gif.path }}" alt="{{ gif.title }}" /></a>
          </li>
        {% endfor %}
      {% endif %}
      {% for image in project.images %}
        <li class="project-images-item {{ project.image_class }}">
          <a href="/images/{{ image.path }}"><img src="/images/loading/{{ image.loading_image }}" data-src="/images/{{ image.path }}" alt="{{ image.title }}" /></a>
        </li>
      {% endfor %}
    </ul>
  </section>
</article>
